# whitelisting
*
!*/

!bat/**

!fish/**

!.gitignore
!git/**

!iterm2/settings/**

!lsd/**

# $MAILCAPS
!mailcap

!neomutt/**

!nvim/**
nvim/lazy-lock.json

!omf/**

!thefuck/**

!Brewfile

fish/secrets/**

**/__pycache__/

