# whitelisting
*
!*/

!alacritty/**

!ansible/**

!bat/**

!.editorconfig

!fish/**

!fuzzel/**

!.gitignore
!git/**

!hypr/**

!iterm2/settings/**

!lsd/**

# $MAILCAPS
!mailcap

!neomutt/**

!nvim/**
nvim/lazy-lock.json

nvm/

!omf/**

!sway/**

!thefuck/**

!transmission-daemon/bandwidth-groups.json
!transmission-daemon/settings.json

!waybar/**

!xfce4/**
xfce4/desktop/**
xfce4/xfconf/xfce-perchannel-xml/ristretto.xml
xfce4/xfconf/xfce-perchannel-xml/xfce4-desktop.xml
xfce4/xfce4-screenshooter

!zellij/**
zellij/config.kdl.bak

!Brewfile

!starship.toml

**/__pycache__/

