# whitelisting
*
!*/

!alacritty/**

!bat/**

!.editorconfig

!fish/**

!.gitignore
!git/**

!hypr/**

!iterm2/settings/**

!kitty/**
kitty/*.bak
kitty/current-theme.conf

!lsd/**

# $MAILCAPS
!mailcap

!neomutt/**

!nvim/**
nvim/lazy-lock.json

nvm/

!omf/**

!thefuck/**

!waybar/**

!xfce4/**
xfce4/desktop/**
xfce4/xfconf/xfce-perchannel-xml/ristretto.xml
xfce4/xfconf/xfce-perchannel-xml/xfce4-desktop.xml
xfce4/xfce4-screenshooter

!zellij/**
zellij/config.kdl.bak

!Brewfile

**/__pycache__/

