format = """
$os\
[](fg:base bg:surface0)\
$sudo\
$username\
$hostname\
[ ](fg:surface1 bg:surface0)\

[](fg:surface0 bg:surface1)\
$directory\
[](fg:surface1 bg:surface2)\
$git_branch\
$git_status\
[](fg:surface2 bg:surface0)\
$gradle\
${custom.maven}\
$java\
$nodejs\
$ruby\
$rust\
[ ](fg:surface0 bg:none)\
"""
right_format = "$cmd_duration $time"

command_timeout = 30000
palette = "catppuccin_mocha"

[sudo]
format = '[$symbol]($style)'
style = 'bold bg:surface0 fg:peach'
symbol = ' 󱦚'
disabled = false

[username]
show_always = true
style_root = 'bold bg:surface0 fg:sky'
style_user = 'bold bg:surface0 fg:blue'
format = '[ $user]($style)'
disabled = false

[hostname]
ssh_only = true
format = '[@$hostname ]($style)'
trim_at = ""
style = 'bold fg:blue bg:surface0'
disabled = false

[os]
style = 'bold fg:text bg:base'
format = '[ $symbol ]($style)'
disabled = false

[os.symbols]
Windows = ""
Macos = ""
openSUSE = ""

[directory]
style = 'fg:pink bg:surface1'
format = "[ $path ]($style)"
truncation_length = 3
truncation_symbol = "…/"

[directory.substitutions]
".config" = " "
".git" = " "
".github" = " "
".syncthing" = "󰴋 "
"Documents" = "󱧶 "
"Dokumentumok" = "󱧶 "
"Downloads" = "󰉍 "
"Letöltések" = "󰉍 "
"Music" = "󱍙 "
"Zenék" = "󱍙 "
"Pictures" = "󰉏 "
"Képek" = "󰉏 "
"Videos" = "󱧺 "
"Videók" = "󱧺 "
"notes" = "󱞁 "

[git_branch]
symbol = ""
style = "bg:surface2 fg:lavender"
format = '[ $symbol $branch ]($style)'

[git_status]
style = "bg:surface2 fg:lavender"
format = '[$all_status$ahead_behind ]($style)'

[gradle]
symbol = " "
style = "bg:surface0 fg:blue"
format = '[ $symbol($version) ]($style)'


[custom.maven]
description = "Show Maven version"
command = "mvn --version | head -n 1 | cut -d' ' -f3"
detect_files = ["pom.xml"]
symbol = " "
style = "bg:surface0 fg:peach"
format = "[ $symbol($output) ]($style)"

[java]
symbol = " "
style = "bg:surface0 fg:red"
format = '[ $symbol($version) ]($style)'

[nodejs]
symbol = ""
style = "bg:surface0 fg:green"
format = '[ $symbol ($version) ]($style)'

[ruby]
detect_variables = []
symbol = ""
style = "bg:surface0 fg:red"
format = '[ $symbol ($version) ]($style)'

[rust]
symbol = ""
style = "bg:surface0 fg:peach"
format = '[ $symbol ($version) ]($style)'

[cmd_duration]
style = "bg:none fg:surface1"
format = "[$duration]($style)"

[time]
disabled = false
style = "bg:none fg:surface1"
format = "[$time]($style)"
time_format = "%Y-%m-%d %H:%M:%S"

[palettes.catppuccin_mocha]
rosewater = "#f5e0dc"
flamingo = "#f2cdcd"
pink = "#f5c2e7"
mauve = "#cba6f7"
red = "#f38ba8"
maroon = "#eba0ac"
peach = "#fab387"
yellow = "#f9e2af"
green = "#a6e3a1"
teal = "#94e2d5"
sky = "#89dceb"
sapphire = "#74c7ec"
blue = "#89b4fa"
lavender = "#b4befe"
text = "#cdd6f4"
subtext1 = "#bac2de"
subtext0 = "#a6adc8"
overlay2 = "#9399b2"
overlay1 = "#7f849c"
overlay0 = "#6c7086"
surface2 = "#585b70"
surface1 = "#45475a"
surface0 = "#313244"
base = "#1e1e2e"
mantle = "#181825"
crust = "#11111b"
