format = """
$os\
[](fg:zenburn_bg bg:zenburn_bg_1)\
$sudo\
$username\
$hostname\
[ ](fg:zenburn_bg_2 bg:zenburn_bg_1)\
[](fg:zenburn_bg_1 bg:zenburn_bg_2)\
$directory\
[](fg:zenburn_bg_2 bg:zenburn_bg_3)\
$git_branch\
$git_status\
[](fg:zenburn_bg_3 bg:zenburn_bg_1)\
$gradle\
${custom.maven}\
$java\
$nodejs\
$ruby\
$rust\
[ ](fg:zenburn_bg_1 bg:none)\
"""
right_format = "$cmd_duration $time"

command_timeout = 30000
palette = "zenburn"

[sudo]
format = '[$symbol]($style)'
style = 'bold bg:zenburn_bg_1 fg:zenburn_orange'
symbol = ' 󱦚'
disabled = false

[username]
show_always = true
style_root = 'bold bg:zenburn_bg_1 fg:zenburn_cyan'
style_user = 'bold bg:zenburn_bg_1 fg:zenburn_blue'
format = '[ $user]($style)'
disabled = false

[hostname]
ssh_only = true
format = '[@$hostname ]($style)'
trim_at = ""
style = 'bold fg:zenburn_blue bg:zenburn_bg_1'
disabled = false

[os]
style = 'bold fg:zenburn_fg bg:zenburn_bg'
format = '[ $symbol ]($style)'
disabled = false

[os.symbols]
Windows = ""
Macos = ""
openSUSE = ""

[directory]
style = 'fg:zenburn_fg bg:zenburn_bg_2'
format = "[ $path ]($style)"
truncation_length = 3
truncation_symbol = "…/"

[directory.substitutions]
".config" = " "
".git" = " "
".github" = " "
".syncthing" = "󰴋 "
"Documents" = "󱧶 "
"Dokumentumok" = "󱧶 "
"Downloads" = "󰉍 "
"Letöltések" = "󰉍 "
"Music" = "󱍙 "
"Zenék" = "󱍙 "
"Pictures" = "󰉏 "
"Képek" = "󰉏 "
"Videos" = "󱧺 "
"Videók" = "󱧺 "
"notes" = "󱞁 "

[git_branch]
symbol = ""
style = "bg:zenburn_bg_3 fg:zenburn_blue_3"
format = '[ $symbol $branch ]($style)'

[git_status]
style = "bg:zenburn_bg_3 fg:zenburn_blue_3"
format = '[$all_status$ahead_behind ]($style)'

[gradle]
symbol = " "
style = "bg:zenburn_bg_1 fg:zenburn_blue"
format = '[ $symbol($version) ]($style)'

[custom.maven]
description = "Show Maven version"
command = "mvn --version | head -n 1 | cut -d' ' -f3"
detect_files = ["pom.xml"]
symbol = " "
style = "bg:zenburn_bg_1 fg:zenburn_orange"
format = "[ $symbol($output) ]($style)"

[java]
symbol = " "
style = "bg:zenburn_bg_1 fg:zenburn_red"
format = '[ $symbol($version) ]($style)'

[nodejs]
symbol = ""
style = "bg:zenburn_bg_1 fg:zenburn_green"
format = '[ $symbol ($version) ]($style)'

[ruby]
detect_variables = []
symbol = ""
style = "bg:zenburn_bg_1 fg:zenburn_red"
format = '[ $symbol ($version) ]($style)'

[rust]
symbol = ""
style = "bg:zenburn_bg_1 fg:zenburn_orange"
format = '[ $symbol ($version) ]($style)'

[character]
format = '$symbol'
success_symbol = '[](bold bg:zenburn_bg_2 fg:zenburn_green)'
error_symbol = '[](bold bg:zenburn_bg_2 fg:zenburn_red)'

[cmd_duration]
style = "bg:none fg:zenburn_bg_2"
format = "[$duration]($style)"

[time]
disabled = false
style = "bg:none fg:zenburn_bg_2"
format = "[$time]($style)"
time_format = "%Y-%m-%d %H:%M:%S"

[palettes.zenburn]
zenburn_fg     = "#DCDCCC"
zenburn_bg     = "#3F3F3F"
zenburn_bg_1   = "#4F4F4F"
zenburn_bg_2   = "#5F5F5F"
zenburn_bg_3   = "#6F6F6F"

zenburn_red    = "#CC9393"
zenburn_green  = "#7F9F7F"
zenburn_blue   = "#8CD0D3"
zenburn_blue_3 = "#BDE0F3"
zenburn_cyan   = "#93E0E3"
zenburn_magenta= "#DC8CC3"
zenburn_orange = "#DFAF8F"
