layout {
    default_tab_template {
        children
        pane size=1 borderless=true {
            plugin location="zellij:compact-bar"
        }
    }

    tab name="mitigation-requirements" cwd="~/projects/mitigation-requirements" {
        pane split_direction="vertical" {
            pane
            pane split_direction="horizontal" {
                pane
                pane
            }
        }
    }

    tab name="notes" cwd="~/Documents/notes" {
        pane
    }

    tab name="config" cwd="~/.config" {
        pane
    }

    tab name="mail" cwd="~" {
        pane
    }
}
